---
- name: Install PostgreSQL
  apt:
    name:
      - postgresql-15
      - postgresql-contrib-15
      - postgresql-client-15
      - libpq-dev
    state: present

- name: Start PostgreSQL service
  systemd:
    name: postgresql
    state: started
    enabled: yes
    daemon_reload: yes

- name: Wait for PostgreSQL to start
  pause:
    seconds: 3

- name: Create okimi database
  become_user: postgres
  postgresql_db:
    name: okimi
    encoding: UTF8
    lc_collate: en_US.UTF-8
    lc_ctype: en_US.UTF-8
    state: present

- name: Create okimi PostgreSQL user
  become_user: postgres
  postgresql_user:
    name: okimi
    password: okimi_dev_password
    role_attr_flags: CREATEDB,CREATEROLE
    state: present

- name: Grant privileges
  become_user: postgres
  postgresql_privs:
    database: okimi
    privs: ALL
    type: database
    role: okimi

- name: Create Keycloak database
  become_user: postgres
  postgresql_db:
    name: keycloak
    encoding: UTF8
    state: present

- name: Grant Keycloak privileges
  become_user: postgres
  postgresql_privs:
    database: keycloak
    privs: ALL
    type: database
    role: okimi

- name: Create extensions
  become_user: postgres
  postgresql_ext:
    name: "{{ item }}"
    db: okimi
  loop:
    - uuid-ossp
    - hstore

- name: Configure PostgreSQL for remote connections
  lineinfile:
    path: /etc/postgresql/15/main/postgresql.conf
    regexp: "^#listen_addresses"
    line: "listen_addresses = 'localhost'"

- name: Reload PostgreSQL
  systemd:
    name: postgresql
    state: reloaded
